@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<demo1.Models.Category>
<ul class="list-group">
    @foreach (var cat in Model)
    {
        <li class="list-group-item"><a href="/product/list/@cat.Id">  @cat.Name </a></li>
    }
</ul>