<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap E-Commerce Template- DIGI Shop mini</title>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="~/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/Index"><strong>DIGI</strong> Shop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li> <a asp-action="Cart" asp-controller="Product"><span> Track Order</span></a></li>
                    <li><partial name="_LoginPartial" /></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">24x7 Support <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Call: </strong>+09-456-567-890</a></li>
                            <li><a href="#"><strong>Mail: </strong>info@yourdomain.com</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <strong>Address: </strong>
                                    <div>
                                        234, New york Street,<br />
                                        Just Location, USA
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Keyword Here ..." class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-lg offer-box text-center">


                    Today's Offer : &nbsp; <span class="glyphicon glyphicon-cog"></span>&nbsp;40 % off  on purchase of $ 2,000 and above till 24 dec !


                </div>
                <div class="main box-border">
                    <div id="mi-slider" class="mi-slider">
                        <ul>

                            <li>
                                <a href="/product/Detail/16">
                                    <img src="~/images/iphone13mini.jpg" alt="img01"><h4>Iphone 13 Mini</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/20">
                                    <img src="~/images/iphone13promax.jpg" alt="img02"><h4>Iphone 13 Promax</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/15">
                                    <img src="~/images/iphone12mini.jpg" alt="img03"><h4>Iphone 12 Mini</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/18">
                                    <img src="~/images/iphone11promax.jpg" alt="img04"><h4>Iphone 11 Pro Max</h4>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/product/Detail/25">
                                    <img src="~/images/samsunggalaxya03s.jpg" alt="img05"><h4>SamSung Galaxy A03 S</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/5">
                                    <img src="~/images/samsung galaxy z flip3.jpg" alt="img06"><h4>SamSung Galaxy Z Flip3</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/4">
                                    <img src="~/images/samsung galaxy s21.jpg" alt="img07"><h4>SamSung Galaxy S21 </h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/22">
                                    <img src="~/images/samsunggalaxya52.jpg" alt="img08"><h4>SamSung Galaxy A52</h4>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/product/Detail/38">
                                    <img src="~/images/nokia2,4.jpg" alt="img09"><h4>Nokia 2.4</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/41">
                                    <img src="~/images/nokia3,4.jpg" alt="img10"><h4>Nokia 3.4</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/44">
                                    <img src="~/images/nokia5,3.jpg" alt="img11"><h4>Nokia 5.3</h4>
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/product/Detail/11">
                                    <img src="~/images/Oppo find x3 pro.jpg" alt="img12"><h4>Oppo Find X3 Pro</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/10">
                                    <img src="~/images/Oppo A15s.jpg" alt="img13"><h4>Oppo A15S</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/33">
                                    <img src="~/images/oppoa54.jpg" alt="img14"><h4>Oppo A54</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/product/Detail/34">
                                    <img src="~/images/oppoa73.jpg" alt="img15"><h4>Oppo A73</h4>
                                </a>
                            </li>
                        </ul>
                        <nav>
                            <a href="/product/list/1">Iphone</a>
                            <a href="/product/list/2">SamSung</a>
                            <a href="/product/list/6">Nokia</a>
                            <a href="/product/list/4">Oppo</a>
                        </nav>
                    </div>

                </div>
                <br />
            </div>

            <!-- /.col -->

            <div class="col-md-3 text-center">
                <div class=" col-md-12 col-sm-6 col-xs-6">
                    <div class="offer-text">
                        30% off here
                    </div>
                    <div class="thumbnail product-box">
                        <img src="~/images/iphone7p.jpg" alt="" />
                        <div class="caption">
                            <h3><a href="/product/Detail/21">Iphone 7 Plus </a></h3>
                            <p><a href="#">Ptional dismiss button </a></p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-12 col-sm-6 col-xs-6">
                    <div class="offer-text2">
                        30% off here
                    </div>
                    <div class="thumbnail product-box">
                        <img src="~/images/samsunggalaxynote20.jpg" alt="" />
                        <div class="caption">
                            <h3><a href="/product/Detail/26">Samsung Galaxy Note 20</a></h3>
                            <p><a href="#">Ptional dismiss button </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" class="list-group-item active">
                        Phone
                    </a>
                    @*<ul class="list-group">*@

                    @*<li class="list-group-item">
                            Mobile
                            <span class="label label-primary pull-right">234</span>
                        </li>
                        <li class="list-group-item">
                            Computers
                            <span class="label label-success pull-right">34</span>
                        </li>
                        <li class="list-group-item">
                            Tablets
                            <span class="label label-danger pull-right">4</span>
                        </li>
                        <li class="list-group-item">
                            Appliances
                            <span class="label label-info pull-right">434</span>
                        </li>
                        <li class="list-group-item">
                            Games & Entertainment
                            <span class="label label-success pull-right">34</span>
                        </li>*@

                    <vc:catergory-list></vc:catergory-list>

                    @*</ul>*@

                </div>
                <!-- /.div -->
                <div>
                    @*<a href="#" class="list-group-item active list-group-item-success">
                            Clothing & Wears
                        </a>
                        <ul class="list-group">

                            <li class="list-group-item">
                                Men's Clothing
                                <span class="label label-danger pull-right">300</span>
                            </li>
                            <li class="list-group-item">
                                Women's Clothing
                                <span class="label label-success pull-right">340</span>
                            </li>
                            <li class="list-group-item">
                                Kid's Wear
                                <span class="label label-info pull-right">735</span>
                            </li>

                        </ul>*@
                </div>
                <!-- /.div -->
                <div>
                    @*<a href="#" class="list-group-item active">
                            Accessaries & Extras
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Mobile Accessaries
                                <span class="label label-warning pull-right">456</span>
                            </li>
                            <li class="list-group-item">
                                Men's Accessaries
                                <span class="label label-success pull-right">156</span>
                            </li>
                            <li class="list-group-item">
                                Women's Accessaries
                                <span class="label label-info pull-right">400</span>
                            </li>
                            <li class="list-group-item">
                                Kid's Accessaries
                                <span class="label label-primary pull-right">89</span>
                            </li>
                            <li class="list-group-item">
                                Home Products
                                <span class="label label-danger pull-right">90</span>
                            </li>
                            <li class="list-group-item">
                                Kitchen Products
                                <span class="label label-warning pull-right">567</span>
                            </li>
                        </ul>*@
                </div>
                <!-- /.div -->
                <div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>
                        <li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>
                        <li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>
                        <li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>
                    </ul>
                </div>
                <!-- /.div -->
                <div class="well well-lg offer-box offer-colors">


                    <span class="glyphicon glyphicon-star-empty"></span>25 % off  , GRAB IT

                    <br />
                    <br />
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                             style="width: 70%">
                            <span class="sr-only">70% Complete (success)</span>
                            2hr 35 mins left
                        </div>
                    </div>
                    <a href="#">click here to know more </a>
                </div>
                <!-- /.div -->
            </div>
            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Phone</li>
                    </ol>
                </div>


                @RenderBody()

            </div>
        </div>
    </div>


    <div class="col-md-12 download-app-box text-center">

        <span class="glyphicon glyphicon-download-alt"></span>Download Our Android App and Get 10% additional Off on all Products . <a href="#" class="btn btn-danger btn-lg">DOWNLOAD  NOW</a>

    </div>
    <!--Footer -->
    <div class="col-md-12 footer-box">


        <div class="row small-box ">
            <strong>Phones :</strong> <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> | view all items
        </div>
        <div class="row small-box ">
            <strong>Phones :</strong> <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> | view all items
        </div>
        <div class="row small-box ">
            <strong>Phones :</strong> <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> | view all items

        </div>
        <div class="row small-box pad-botom ">
            <strong>Phones :</strong> <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> |
            <a href="/product/list/8">OnePlus</a> |  <a href="/product/list/1">Iphone</a> |  <a href="/product/list/2">samsung</a> | <a href="/product/list/3">Realme</a> |
            <a href="/product/list/4">Oppo</a> |  <a href="/product/list/5">Asus</a> | <a href="/product/list/6">Nokia</a> |<a href="/product/list/7">Vsmart</a> | view all items
            @*<strong>Computers :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
                <a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
                <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
                <a href="#">Microx Computers</a> |<a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
                <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx Computers</a> |<a href="#">samsung</a> |
                <a href="#">Sony</a> | <a href="#">Microx</a> | view all items*@

        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Send a Quick Query </strong>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <strong>Our Location</strong>
                <hr>
                <p>
                    234, New york Street,<br />
                    Just Location, USA<br />
                    Call: +09-456-567-890<br>
                    Email: info@yourdomain.com<br>
                </p>

                2014 www.yourdomain.com | All Right Reserved
            </div>
            <div class="col-md-4 social-box">
                <strong>We are Social </strong>
                <hr>
                <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.yourdomain.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    <!--Core JavaScript file  -->

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="~/js/bootstrap.js"></script>
    <!--Slider JavaScript file  -->
    <script src="~/js/modernizr.custom.63321.js"></script>
    <script src="~/js/jquery.catslider.js"></script>
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
